#dropdown_list {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
  background-color: bisque;
  width: 22%;
}

span {
  padding-left: 10px;
}

button {
  margin-top: 20px;
  display: block;
}